<p id="notice"><%= notice %></p>

<h2 style="color:#6610f2">Meetings</h2>

<hr>

<table>
  <thead>
    <tr>
      <th style="padding-left:20px">Name</th>
      <th style="padding-left:20px">Start time</th>
      <th style="padding-left:20px">End time</th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td style="padding-left:20px; padding-right:50px;"><%= meeting.name %></td>
        <td style="padding-left:20px; padding-right:50px;"><%= meeting.start_time %></td>
        <td style="padding-left:20px; padding-right:50px;"><%= meeting.end_time %></td>
        <td style="padding-left:20px; padding-right:50px;"><%= link_to 'Show', sti_meeting_path(meeting.type, meeting) %></td>
        <td style="padding-left:20px; padding-right:50px;"><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td style="padding-left:20px; padding-right:50px;"><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h4 style="padding-left:20px"><%= link_to 'New Meeting', new_meeting_path %></h4>
