<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @meeting.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @meeting.end_time %>
</p>

<%= link_to "New #{@type}", sti_meeting_path(@type, nil, :new) %> |
<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', sti_meeting_path %>
