<h2 style="color:#6610f2;"> New Company </h2>

<hr>

<%= form_for @company do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <br>
  <%= f.label :country_code, "Location" %>
  <%= f.collection_select :country_code, @countries, :code, :name, prompt: true %>
  <br>
  <br>
  <%= f.label :time_zone_offset, "Time zone" %>
  <%= f.time_zone_select(:time_zone_offset, @timezones, prompt: true) %>
  <br>
  <br>
  <%= f.label :work_days, "Work days" %>
  <% days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] %>
  <% days.each do |day| %>
    <%= f.check_box :work_days, { multiple: true }, day, false %>
    <%= day %>
  <% end %>
  <br>
  <br>
  <%= f.label :open_time, "Open" %>
  <%= f.time_field :open_time %>
  <br>
  <br>
  <%= f.label :close_time, "Close" %>
  <%= f.time_field :close_time %>
  <br>
  <br>
  <%= f.submit %>
  <br>
<% end %>

<hr>

<h4><%= link_to "Back to Main Menu", companies_path %></h4>
