<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Calint</title>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= link_to image_tag("logo_transparent", height: "200", width: "200"), root_path %>

    <% if session[:the_company] && Company.exists?(id: session[:the_company]) %>
      <% company = Company.find(session[:the_company].first) %>
      <h5 style="text-align:right; padding-right:20px"> Current account: <%= link_to company.name, company_path(company) %> </h5>
    <% end %>
    
    <hr>

    <%= yield %>

  </body>
</html>
